@use "../abstracts/" as *;
@use "sass:map";

html {
  font-size: 62.5%;
}

body {
  min-height: 100dvh;
  font-family: $font-family-primary;
  font-size: $font-size-base;
  font-weight: $font-weight-regular;
  // line-height: $line-height-base;
}

button {
  cursor: pointer;
}

th {
  text-align: left;
}

table {
  width: 100%;
  margin-top: 2rem;
}

.app {
  display: flex;
  justify-content: center;
}

.dashboard {
  border: 1px solid black;
}

.dashboard__header {
  display: flex;
  align-items: center;
  border: 1px solid black;
  padding: 1rem;
}

.sidebar {
  border: 1px solid grey;
  width: 200px;
  padding: 1rem;
}

.logo-img {
  height: 130px;
}

.student-register {
  margin: 1rem;
  border-radius: 5px;
  padding: 1rem;
  justify-items: left;

  &__index-cell {
    text-align: center;
  }

  &__heading {
  }

  &__row-name {
  }

  &__first-letter {
    margin-right: 18px;
    display: inline-block;
    border-radius: $radius-full;
    text-align: center;
    color: $color-white;
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 17px;
  }

  &__points-cell {
    // text-align: center;
  }

  &__participation-cell {
    display: flex;
    height: 50px;
    align-items: center;
  }

  &__toolbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 40px;
  }

  &__dropdown {
    grid-column: 3/3;
  }

  &__toolbar-left {
    display: flex;
    gap: 1rem;
  }

  &__searchbar {
    grid-row: 2/2;
    border: 1px solid $color-neutral-300;
    border-radius: $radius-md;
  }
}

.add-students {
  grid-column: 3/3;
}

$profile-colors: (
  "profilePink": (
    background: $color-profile-pink,
    text: $color-profile-pink-text,
  ),
  "profilePurple": (
    background: $color-profile-purple,
    text: $color-profile-purple-text,
  ),
  "profileTeal": (
    background: $color-profile-teal,
    text: $color-profile-teal-text,
  ),
  "profileSky": (
    background: $color-profile-sky,
    text: $color-profile-sky-text,
  ),
  "profileOrange": (
    background: $color-profile-orange,
    text: $color-profile-orange-text,
  ),
  "profileGreen": (
    background: $color-profile-green,
    text: $color-profile-green-text,
  ),
  "profileIndigo": (
    background: $color-profile-indigo,
    text: $color-profile-indigo-text,
  ),
  "profileRed": (
    background: $color-profile-red,
    text: $color-profile-red-text,
  ),
  "profileCyan": (
    background: $color-profile-cyan,
    text: $color-profile-cyan-text,
  ),
  "profileAmber": (
    background: $color-profile-amber,
    text: $color-profile-amber-text,
  ),
  "profileViolet": (
    background: $color-profile-violet,
    text: $color-profile-violet-text,
  ),
  "profileRose": (
    background: $color-profile-rose,
    text: $color-profile-rose-text,
  ),
);

@each $color-name, $color-value in $profile-colors {
  .#{$color-name} {
    background-color: map.get($color-value, background);
    color: map.get($color-value, text);
  }
}

.circle {
  width: 13px;
  height: 13px;
  border-radius: 50%;
}

.participation-circles {
  display: flex;
  gap: 0.6rem;
  padding: 0.3rem;
}

.circle--fill {
  background-color: $color-primary-500;
}

.circle--empty {
  background-color: rgb(224, 222, 222);
}
