@use "../abstracts/" as *;
@use "sass:map";

html {
  font-size: 62.5%;
}

body {
  min-height: 100dvh;
  font-family: $font-family-primary;
  font-size: $font-size-base;
  font-weight: $font-weight-regular;
  // line-height: $line-height-base;
}

button {
  cursor: pointer;
}

th {
  text-align: left;
}

table {
  width: 100%;
  margin-top: 2rem;
}

.app {
  display: flex;
  justify-content: center;
}

.dashboard {
  border: 1px solid black;
}

.dashboard__header {
  display: flex;
  align-items: center;
  border: 1px solid black;
  padding: 1rem;
}

.sidebar {
  border: 1px solid grey;
  width: 200px;
  padding: 1rem;
}

.logo-img {
  height: 130px;
}

.student-register {
  margin: 1rem;
  border-radius: 5px;
  padding: 1rem;
  justify-items: left;

  &__index-cell {
    text-align: center;
  }

  &__heading {
  }

  &__row-name {
  }

  &__first-letter {
    margin-right: 18px;
    display: inline-block;
    border-radius: $radius-full;
    text-align: center;
    color: $color-white;
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 17px;
  }

  &__points-cell {
    // text-align: center;
  }

  &__participation-cell {
    display: flex;
    height: 50px;
    align-items: center;
  }

  &__toolbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 40px;
  }

  &__dropdown {
    grid-column: 3/3;
  }

  &__toolbar-left {
    display: flex;
    gap: 1rem;
  }

  &__searchbar {
    grid-row: 2/2;
    border: 1px solid $color-neutral-300;
    border-radius: $radius-md;
  }
}

.add-students {
  grid-column: 3/3;
}

$profile-colors: (
  "profilePink": $color-pink-500,
  "profilePurple": $color-purple-500,
  "profileTeal": $color-teal-500,
  "profileSky": $color-sky-500,
  "profileOrange": $color-orange-500,
  "profileGreen": $color-green-500,
  "profileIndigo": $color-indigo-500,
  "profileRed": $color-red-500,
  "profileCyan": $color-cyan-500,
  "profileAmber": $color-amber-500,
  "profileViolet": $color-violet-500,
  "profileRose": $color-rose-500,
);

@each $color-name, $color-value in $profile-colors {
  .#{$color-name} {
    background-color: $color-value;
  }
}

.circle {
  width: 13px;
  height: 13px;
  border-radius: 50%;
}

.participation-circles {
  display: flex;
  gap: 0.6rem;
  padding: 0.3rem;
}

.circle--low {
  background-color: $color-danger-500;
}

.circle--medium {
  background-color: $color-orange-500;
}

.circle--high {
  background-color: $color-success-500;
}

.circle--empty {
  background-color: rgb(206, 206, 206);
}
