@use "../abstracts/" as *;

body {
  min-height: 100dvh;
  font-family: $font-family-base;
}

table,
th,
td {
  border: 1px solid black;
}

.app {
  display: flex;
  justify-content: center;
}

.dashboard {
  border: 1px solid black;
}

.dashboard__header {
  display: flex;
  align-items: center;
  border: 1px solid black;
  padding: 1rem;
}

.sidebar {
  border: 1px solid grey;
  width: 200px;
  padding: 1rem;
}

.logo-img {
  height: 130px;
}

.student-register {
  border: 1px solid black;
  margin: 1rem;
  border-radius: 5px;
  padding: 1rem;
}

.circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #3498db;
}

.participation-circles {
  display: flex;
  gap: 0.3rem;
  padding: 0.3rem;
}
